[Unit]
Description=Soft IOC for TS dipole magnet families
After=multi-user.target

[Service]
Group=fac
User=fac
Type=simple
WorkingDirectory=/usr/local/bin/sirius-iocs/as-ma
StandardOutput=syslog
StandardError=syslog
ExecStart=/usr/local/bin/sirius-iocs/as-ma/ioc-ts-ma-dipole-fam.bash
