[Unit]
Description=Soft IOC for BO quadrupole and magnet families.
After=multi-user.target

[Service]
Group=fac
User=fac
Type=simple
WorkingDirectory=/home/fac/sirius-iocs/as-ma
StandardOutput=syslog
StandardError=syslog
ExecStartPre=/bin/bash --login -c 'env > /tmp/bashrc-sirius-ioc-bo-ma-multipole-fam'
EnvironmentFile=-/tmp/bashrc-sirius-ioc-bo-ma-multipole-fam
ExecStart=/usr/local/bin/sirius-ioc-bo-ma-multipole-fam.py
