[Unit]
Description=Soft IOC for TB dipole families
After=multi-user.target

[Service]
Group=fac
User=fac
Type=simple
WorkingDirectory=/usr/local/bin/sirius-iocs/as-ma
StandardOutput=syslog
StandardError=syslog
ExecStart=/usr/local/bin/sirius-iocs/as-ma/ioc-as-ma-tb-dipole-fam.bash
