[Unit]
Description=Soft IOC for SI dipole magnet families
After=multi-user.target

[Service]
Group=fac
User=fac
Type=simple
WorkingDirectory=/home/fac/sirius-iocs/as-ma
StandardOutput=syslog
StandardError=syslog
ExecStartPre=/bin/bash --login -c 'env > /tmp/bashrc-sirius-ioc-ts-ma-multipole'
EnvironmentFile=-/tmp/bashrc-sirius-ioc-ts-ma-multipole
ExecStart=/usr/local/bin/sirius-ioc-ts-ma-multipole.py
