[Unit]
Description=Soft IOC for SI dipole magnet families
Requires=ioc-tb-ma-dipole-fam.service
After=multi-user.target

[Service]
Group=fac
User=fac
Type=simple
WorkingDirectory=/home/fac/sirius-iocs
StandardOutput=syslog
StandardError=syslog
ExecStartPre=/bin/bash --login -c 'env > /tmp/bashrc-sirius-ioc-tb-ma-corrector'
EnvironmentFile=-/tmp/bashrc-sirius-ioc-tb-ma-corrector
ExecStart=/usr/local/bin/sirius-ioc-tb-ma-corrector.py
