[Unit]
Description=Soft IOC for SI quadrupoles QDB2 QDB1
After=multi-user.target

[Service]
Group=sirius
User=sirius
Type=simple
WorkingDirectory=/home/sirius/iocs-log
StandardOutput=syslog
StandardError=syslog
ExecStartPre=/bin/bash --login -c 'env > /home/sirius/iocs-log/env-sirius-ioc-si-ma-quadrupoles-qd2'
EnvironmentFile=-/home/sirius/iocs-log/env-sirius-ioc-si-ma-quadrupoles-qd2
ExecStart=/usr/local/bin/sirius-ioc-as-ma.py \
SI-Fam:MA-QDB2 \
SI-Fam:MA-QDB1
