[Unit]
Description=Soft IOC for TS dipole magnets
After=multi-user.target

[Service]
Group=sirius
User=sirius
Type=simple
WorkingDirectory=/home/sirius/iocs-log
StandardOutput=syslog
StandardError=syslog
ExecStartPre=/bin/bash --login -c 'env > /home/sirius/iocs-log/env-sirius-ioc-ts-ma-dipole'
EnvironmentFile=-/home/sirius/iocs-log/env-sirius-ioc-ts-ma-dipole
ExecStart=/usr/local/bin/sirius-ioc-as-ma.py TS-Fam:MA-B
