[Unit]
Description=Soft IOC for BO corrector magnets 09
After=multi-user.target

[Service]
Group=fac
User=fac
Type=simple
WorkingDirectory=/home/fac/sirius-iocs
StandardOutput=syslog
StandardError=syslog
ExecStartPre=/bin/bash --login -c 'env > /tmp/bashrc-sirius-ioc-tb-ma-correctors-09'
EnvironmentFile=-/tmp/bashrc-sirius-ioc-tb-ma-correctors-09
ExecStart=/usr/local/bin/sirius-ioc-as-ma.py \
BO-31U:MA-CH \
BO-31U:MA-CV \
BO-33U:MA-CH \
BO-33U:MA-CV
