[Unit]
Description=Soft IOC for TB corrector magnets
After=multi-user.target

[Service]
Group=sirius
User=sirius
Type=simple
WorkingDirectory=/home/sirius/iocs-log
StandardOutput=syslog
StandardError=syslog
ExecStartPre=/bin/bash --login -c 'env > /home/sirius/iocs-log/env-sirius-ioc-tb-ma-correctors'
EnvironmentFile=-/home/sirius/iocs-log/env-sirius-ioc-tb-ma-correctors
ExecStart=/usr/local/bin/sirius-ioc-as-ma.py \
TB-01:MA-CH-1 \
TB-01:MA-CV-1 \
TB-01:MA-CH-2 \
TB-01:MA-CV-2 \
TB-02:MA-CH-1 \
TB-02:MA-CV-1 \
TB-02:MA-CH-2 \
TB-02:MA-CV-2 \
TB-04:MA-CH-1 \
TB-04:MA-CV-1 \
TB-04:MA-CH-2 \
TB-04:MA-CV-2
