[Unit]
Description=Soft IOC for SI Trims and Skew Quadrupoles Subsections 08M1, 08M2
After=multi-user.target

[Service]
Group=sirius
User=sirius
Type=simple
WorkingDirectory=/home/sirius/iocs-log
StandardOutput=syslog
StandardError=syslog
ExecStartPre=/bin/bash --login -c 'env > /home/sirius/iocs-log/env-sirius-ioc-si-ma-trims-qs-m12-ia08'
EnvironmentFile=-/home/sirius/iocs-log/env-sirius-ioc-si-ma-trims-qs-m12-ia08
ExecStart=/usr/local/bin/sirius-ioc-as-ma.py \
SI-08M2:MA-QFB \
SI-08M2:MA-QDB1 \
SI-08M2:MA-QDB2 \
SI-09M1:MA-QFA \
SI-09M1:MA-QDA \
SI-08M1:MA-QS \
SI-08M2:MA-QS
