[Unit]
Description=Soft IOC for SI Trims and Skew Quadrupoles Subsections 20M1, 20M2
After=multi-user.target

[Service]
Group=sirius
User=sirius
Type=simple
WorkingDirectory=/home/sirius/iocs-log
StandardOutput=syslog
StandardError=syslog
ExecStartPre=/bin/bash --login -c 'env > /home/sirius/iocs-log/env-sirius-ioc-si-ma-trims-qs-m12-ia20'
EnvironmentFile=-/home/sirius/iocs-log/env-sirius-ioc-si-ma-trims-qs-m12-ia20
ExecStart=/usr/local/bin/sirius-ioc-as-ma.py \
SI-20M2:MA-QFB \
SI-20M2:MA-QDB1 \
SI-20M2:MA-QDB2 \
SI-01M1:MA-QFA \
SI-01M1:MA-QDA \
SI-20M1:MA-QS \
SI-20M2:MA-QS
