[Unit]
Description=Power Supply IOC - SI Correctors Subsections 15C2, 15M1, 15M2
After=multi-user.target

[Service]
Group=sirius
User=sirius
Type=simple
WorkingDirectory=/home/sirius/iocs-log
StandardOutput=syslog
StandardError=syslog
ExecStartPre=/bin/bash --login -c 'env > /home/sirius/iocs-log/env-sirius-ioc-si-ma-correctors-ia15-c2m12'
EnvironmentFile=-/home/sirius/iocs-log/env-sirius-ioc-si-ma-correctors-ia15-c2m12
ExecStart=/usr/local/bin/sirius-ioc-as-ma.py \
SI-15C2:MA-CH \
SI-15C2:MA-CV-1 \
SI-15C2:MA-CV-2 \
SI-15M1:MA-CH \
SI-15M1:MA-CV \
SI-15M2:MA-CH \
SI-15M2:MA-CV
