[Unit]
Description=Soft IOC for TB quadrupole magnets
After=multi-user.target

[Service]
Group=fac
User=fac
Type=simple
WorkingDirectory=/home/fac/sirius-iocs
StandardOutput=syslog
StandardError=syslog
ExecStartPre=/bin/bash --login -c 'env > /tmp/bashrc-sirius-ioc-tb-ma-quadrupole'
EnvironmentFile=-/tmp/bashrc-sirius-ioc-tb-ma-quadrupole
ExecStart=/usr/local/bin/sirius-ioc-as-ma.py \
TB-01:MA-QD1 \
TB-01:MA-QF1 \
TB-02:MA-QD2A \
TB-02:MA-QF2A \
TB-02:MA-QF2B \
TB-02:MA-QD2B \
TB-03:MA-QF3 \
TB-03:MA-QD3 \
TB-04:MA-QF4 \
TB-04:MA-QD4
