[Unit]
Description=Soft IOC for SI Trims and Skew Quadrupoles Subsections 19M1, 19M2
After=multi-user.target

[Service]
Group=sirius
User=sirius
Type=simple
WorkingDirectory=/home/sirius/iocs-log
StandardOutput=syslog
StandardError=syslog
ExecStartPre=/bin/bash --login -c 'env > /home/sirius/iocs-log/env-sirius-ioc-si-ma-trims-qs-m12-ia19'
EnvironmentFile=-/home/sirius/iocs-log/env-sirius-ioc-si-ma-trims-qs-m12-ia19
ExecStart=/usr/local/bin/sirius-ioc-as-ma.py \
SI-19M2:PS-QFP \
SI-19M2:PS-QDP1 \
SI-19M2:PS-QDP2 \
SI-20M1:PS-QFB \
SI-20M1:PS-QDB1 \
SI-20M1:PS-QDB2 \
SI-19M1:PS-QS \
SI-19M2:PS-QS
