[Unit]
Description=Soft IOC for BO corrector magnets 04
After=multi-user.target

[Service]
Group=sirius
User=sirius
Type=simple
WorkingDirectory=/home/sirius/iocs
StandardOutput=syslog
StandardError=syslog
ExecStartPre=/bin/bash --login -c 'env > /tmp/bashrc-sirius-ioc-tb-ma-correctors-04'
EnvironmentFile=-/tmp/bashrc-sirius-ioc-tb-ma-correctors-04
ExecStart=/usr/local/bin/sirius-ioc-as-ma.py \
BO-11U:MA-CH \
BO-11U:MA-CV \
BO-13U:MA-CH \
BO-13U:MA-CV
