[Unit]
Description=Soft IOC for SI Trims and Skew Quadrupoles Subsections 13C1, 13C2, 13C3, 13C4
After=multi-user.target

[Service]
Group=sirius
User=sirius
Type=simple
WorkingDirectory=/home/sirius/iocs-log
StandardOutput=syslog
StandardError=syslog
ExecStartPre=/bin/bash --login -c 'env > /home/sirius/iocs-log/env-sirius-ioc-si-ma-trims-qs-c1234-ia13'
EnvironmentFile=-/home/sirius/iocs-log/env-sirius-ioc-si-ma-trims-qs-c1234-ia13
ExecStart=/usr/local/bin/sirius-ioc-as-ma.py \
SI-13C1:MA-Q1 \
SI-13C1:MA-Q2 \
SI-13C2:MA-Q3 \
SI-13C2:MA-Q4 \
SI-13C4:MA-Q1 \
SI-13C4:MA-Q2 \
SI-13C3:MA-Q3 \
SI-13C3:MA-Q4 \
SI-13C1:MA-QS \
SI-13C2:MA-QS \
SI-13C3:MA-QS
