[Unit]
Description=Soft IOC for SI Trims and Skew Quadrupoles Subsectionsadrupoles Subsections 12M1, 12M2
After=multi-user.target

[Service]
Group=sirius
User=sirius
Type=simple
WorkingDirectory=/home/sirius/iocs-log
StandardOutput=syslog
StandardError=syslog
ExecStartPre=/bin/bash --login -c 'env > /home/sirius/iocs-log/env-sirius-ioc-si-ma-trims-qs-m12-ia12'
EnvironmentFile=-/home/sirius/iocs-log/env-sirius-ioc-si-ma-trims-qs-m12-ia12
ExecStart=/usr/local/bin/sirius-ioc-as-ma.py \
SI-12M2:PS-QFB \
SI-12M2:PS-QDB1 \
SI-12M2:PS-QDB2 \
SI-13M1:PS-QFA \
SI-13M1:PS-QDA \
SI-12M1:PS-QS \
SI-12M2:PS-QS
