[Unit]
Description=Soft IOC for SI Correctors Subsections 11C2, 11M1, 11M2
After=multi-user.target

[Service]
Group=sirius
User=sirius
Type=simple
WorkingDirectory=/home/sirius/iocs-log
StandardOutput=syslog
StandardError=syslog
ExecStartPre=/bin/bash --login -c 'env > /home/sirius/iocs-log/env-sirius-ioc-si-ma-correctors-c2m12-ia11'
EnvironmentFile=-/home/sirius/iocs-log/env-sirius-ioc-si-ma-correctors-c2m12-ia11
ExecStart=/usr/local/bin/sirius-ioc-as-ma.py \
SI-11C2:MA-CH \
SI-11C2:MA-CV-1 \
SI-11C2:MA-CV-2 \
SI-11M1:MA-CH \
SI-11M1:MA-CV \
SI-11M2:MA-CH \
SI-11M2:MA-CV
