[Unit]
Description=Power Supply IOC - SI Correctors Subsections 01C2, 01M1, 01M2
After=multi-user.target

[Service]
Group=sirius
User=sirius
Type=simple
WorkingDirectory=/home/sirius/iocs-log
StandardOutput=syslog
StandardError=syslog
ExecStartPre=/bin/bash --login -c 'env > /home/sirius/iocs-log/env-sirius-ioc-si-ma-correctors-ia01-c2m12'
EnvironmentFile=-/home/sirius/iocs-log/env-sirius-ioc-si-ma-correctors-ia01-c2m12
ExecStart=/usr/local/bin/sirius-ioc-as-ma.py \
SI-01C2:MA-CH \
SI-01C2:MA-CV-1 \
SI-01C2:MA-CV-2 \
SI-01M1:MA-CH \
SI-01M1:MA-CV \
SI-01M2:MA-CH \
SI-01M2:MA-CV
