[Unit]
Description=Power Supply IOC - SI Correctors Subsections 07M1, 07M2
After=multi-user.target

[Service]
Group=sirius
User=sirius
Type=simple
WorkingDirectory=/home/sirius/iocs-log
StandardOutput=syslog
StandardError=syslog
ExecStartPre=/bin/bash --login -c 'env > /home/sirius/iocs-log/env-sirius-ioc-si-ma-correctors-ia07-m12'
EnvironmentFile=-/home/sirius/iocs-log/env-sirius-ioc-si-ma-correctors-ia07-m12
ExecStart=/usr/local/bin/sirius-ioc-as-ma.py \
SI-07M1:MA-CH \
SI-07M1:MA-CV \
SI-07M2:MA-CH \
SI-07M2:MA-CV
