[Unit]
Description=Power Supply IOC - SI Correctors Subsections 10C1, 10C3, 10C4
After=multi-user.target

[Service]
Group=sirius
User=sirius
Type=simple
WorkingDirectory=/home/sirius/iocs-log
StandardOutput=syslog
StandardError=syslog
ExecStartPre=/bin/bash --login -c 'env > /home/sirius/iocs-log/env-sirius-ioc-si-ma-correctors-ia10-c134'
EnvironmentFile=-/home/sirius/iocs-log/env-sirius-ioc-si-ma-correctors-ia10-c134
ExecStart=/usr/local/bin/sirius-ioc-as-ma.py \
SI-10C1:MA-CH \
SI-10C1:MA-CV \
SI-10C4:MA-CH \
SI-10C4:MA-CV \
SI-10C3:MA-CH \
SI-10C3:MA-CV-1 \
SI-10C3:MA-CV-2
