[Unit]
Description=Soft IOC for SI injection dipolar kicker
After=multi-user.target

[Service]
Group=sirius
User=sirius
Type=simple
WorkingDirectory=/home/sirius/iocs-log
StandardOutput=syslog
StandardError=syslog
ExecStartPre=/bin/bash --login -c 'env > /home/sirius/iocs-log/env-sirius-ioc-si-pm-injdpkckr'
EnvironmentFile=-/home/sirius/iocs-log/env-sirius-ioc-si-pm-injdpkckr
ExecStart=/usr/local/bin/sirius-ioc-as-ma.py \
SI-01SA:PM-InjDpKckr
