[Unit]
Description=Soft IOC for TB injection septum
After=multi-user.target

[Service]
Group=sirius
User=sirius
Type=simple
WorkingDirectory=/home/sirius/iocs-log
StandardOutput=syslog
StandardError=syslog
ExecStartPre=/bin/bash --login -c 'env > /home/sirius/iocs-log/env-sirius-ioc-tb-pm-injsept'
EnvironmentFile=-/home/sirius/iocs-log/env-sirius-ioc-tb-pm-injsept
ExecStart=/usr/local/bin/sirius-ioc-as-ma.py \
TB-04:PM-InjSept
