[Unit]
Description=Soft IOC for SI Trims and Skew Quadrupoles Subsections 11M1, 11M2
After=multi-user.target

[Service]
Group=sirius
User=sirius
Type=simple
WorkingDirectory=/home/sirius/iocs-log
StandardOutput=syslog
StandardError=syslog
ExecStartPre=/bin/bash --login -c 'env > /home/sirius/iocs-log/env-sirius-ioc-si-ma-trims-qs-m12-ia11'
EnvironmentFile=-/home/sirius/iocs-log/env-sirius-ioc-si-ma-trims-qs-m12-ia11
ExecStart=/usr/local/bin/sirius-ioc-as-ma.py \
SI-11M2:MA-QFP \
SI-11M2:MA-QDP1 \
SI-11M2:MA-QDP2 \
SI-12M1:MA-QFB \
SI-12M1:MA-QDB1 \
SI-12M1:MA-QDB2 \
SI-11M1:MA-QS \
SI-11M2:MA-QS
