[Unit]
Description=Soft IOC for BO dipoles
After=multi-user.target

[Service]
Group=sirius
User=sirius
Type=simple
WorkingDirectory=/home/sirius/iocs-log
StandardOutput=syslog
StandardError=syslog
ExecStartPre=/bin/bash --login -c 'env > /home/sirius/iocs-log/env-sirius-ioc-tb-ma-dipoles'
EnvironmentFile=-/home/sirius/iocs-log/env-sirius-ioc-tb-ma-dipoles
ExecStart=/usr/local/bin/sirius-ioc-as-ma.py \
BO-Fam:MA-B
