[Unit]
Description=Power Supply IOC - SI Sextupoles SFP2, SFP1, SDP3, SDP2
After=multi-user.target

[Service]
Group=sirius
User=sirius
Type=simple
WorkingDirectory=/home/sirius/iocs-log
StandardOutput=syslog
StandardError=syslog
ExecStartPre=/bin/bash --login -c 'env > /home/sirius/iocs-log/env-sirius-ioc-si-ma-sextupoles-sfp12-sdp23'
EnvironmentFile=-/home/sirius/iocs-log/env-sirius-ioc-si-ma-sextupoles-sfp12-sdp23
ExecStart=/usr/local/bin/sirius-ioc-as-ma.py \
SI-Fam:MA-SFP2 \
SI-Fam:MA-SFP1 \
SI-Fam:MA-SDP3 \
SI-Fam:MA-SDP2
