[Unit]
Description=Soft IOC for TS injection septum G 1
After=multi-user.target

[Service]
Group=sirius
User=sirius
Type=simple
WorkingDirectory=/home/sirius/iocs-log
StandardOutput=syslog
StandardError=syslog
ExecStartPre=/bin/bash --login -c 'env > /home/sirius/iocs-log/env-sirius-ioc-ts-pm-injseptg1'
EnvironmentFile=-/home/sirius/iocs-log/env-sirius-ioc-ts-pm-injseptg1
ExecStart=/usr/local/bin/sirius-ioc-as-ma.py \
TS-04:PM-InjSeptG-1
