[Unit]
Description=Soft IOC for BO corrector magnets ia04
After=multi-user.target

[Service]
Group=sirius
User=sirius
Type=simple
WorkingDirectory=/home/sirius/iocs-log
StandardOutput=syslog
StandardError=syslog
ExecStartPre=/bin/bash --login -c 'env > /home/sirius/iocs-log/env-sirius-ioc-tb-ma-correctors-ia04'
EnvironmentFile=-/home/sirius/iocs-log/env-sirius-ioc-tb-ma-correctors-ia04
ExecStart=/usr/local/bin/sirius-ioc-as-ma.py \
BO-07U:MA-CH \
BO-07U:MA-CV \
BO-09U:MA-CH \
BO-09U:MA-CV
