[Unit]
Description=Soft IOC for TS ejection septum F
After=multi-user.target

[Service]
Group=sirius
User=sirius
Type=simple
WorkingDirectory=/home/sirius/iocs-log
StandardOutput=syslog
StandardError=syslog
ExecStartPre=/bin/bash --login -c 'env > /home/sirius/iocs-log/env-sirius-ioc-ts-pm-ejeseptf'
EnvironmentFile=-/home/sirius/iocs-log/env-sirius-ioc-ts-pm-ejeseptf
ExecStart=/usr/local/bin/sirius-ioc-as-ma.py \
TS-01:PM-EjeSeptF
