[Unit]
Description=Soft IOC for SI Trims and Skew Quadrupoles Subsections 10C1, 10C2, 10C3, 10C4
After=multi-user.target

[Service]
Group=sirius
User=sirius
Type=simple
WorkingDirectory=/home/sirius/iocs-log
StandardOutput=syslog
StandardError=syslog
ExecStartPre=/bin/bash --login -c 'env > /home/sirius/iocs-log/env-sirius-ioc-si-ma-trims-qs-c1234-ia10'
EnvironmentFile=-/home/sirius/iocs-log/env-sirius-ioc-si-ma-trims-qs-c1234-ia10
ExecStart=/usr/local/bin/sirius-ioc-as-ma.py \
SI-10C1:MA-Q1 \
SI-10C1:MA-Q2 \
SI-10C2:MA-Q3 \
SI-10C2:MA-Q4 \
SI-10C4:MA-Q1 \
SI-10C4:MA-Q2 \
SI-10C3:MA-Q3 \
SI-10C3:MA-Q4 \
SI-10C1:MA-QS \
SI-10C2:MA-QS \
SI-10C3:MA-QS
