[Unit]
Description=Soft IOC for BO corrector magnets ia11
After=multi-user.target

[Service]
Group=sirius
User=sirius
Type=simple
WorkingDirectory=/home/sirius/iocs
StandardOutput=syslog
StandardError=syslog
ExecStartPre=/bin/bash --login -c 'env > /tmp/bashrc-sirius-ioc-tb-ma-correctors-ia11'
EnvironmentFile=-/tmp/bashrc-sirius-ioc-tb-ma-correctors-ia11
ExecStart=/usr/local/bin/sirius-ioc-as-ma.py \
BO-27U:MA-CH \
BO-27U:MA-CV \
BO-29U:MA-CH \
BO-29U:MA-CV
