[Unit]
Description=Soft IOC for BO injection kicker
After=multi-user.target

[Service]
Group=sirius
User=sirius
Type=simple
WorkingDirectory=/home/sirius/iocs-log
StandardOutput=syslog
StandardError=syslog
ExecStartPre=/bin/bash --login -c 'env > /home/sirius/iocs-log/env-sirius-ioc-bo-pm-injkckr'
EnvironmentFile=-/home/sirius/iocs-log/env-sirius-ioc-tb-pm-injkckr
ExecStart=/usr/local/bin/sirius-ioc-as-ma.py \
BO-01D:PM-InjKckr
