[Unit]
Description=Soft IOC for SI Trims and Skew Quadrupoles Subsections 17M1, 17M2
After=multi-user.target

[Service]
Group=sirius
User=sirius
Type=simple
WorkingDirectory=/home/sirius/iocs-log
StandardOutput=syslog
StandardError=syslog
ExecStartPre=/bin/bash --login -c 'env > /home/sirius/iocs-log/env-sirius-ioc-si-ma-trims-qs-m12-ia17'
EnvironmentFile=-/home/sirius/iocs-log/env-sirius-ioc-si-ma-trims-qs-m12-ia17
ExecStart=/usr/local/bin/sirius-ioc-as-ma.py \
SI-17M2:MA-QFA \
SI-17M2:MA-QDA \
SI-18M1:MA-QFB \
SI-18M1:MA-QDB1 \
SI-18M1:MA-QDB2 \
SI-17M1:MA-QS \
SI-17M2:MA-QS
