[Unit]
Description=Soft IOC for Low Level Timing Simulation
After=multi-user.target

[Service]
Group=fac
User=fac
Type=simple
WorkingDirectory=/home/fac/sirius-iocs
StandardOutput=syslog
StandardError=syslog
ExecStartPre=/bin/bash --login -c 'env > /tmp/.magic-environment-file'
EnvironmentFile=-/tmp/.magic-environment-file
ExecStart=/usr/local/bin/sirius-ioc-as-ti-ll-simul.py
