[Unit]
Description=Soft IOC for Low Level Timing Simulation
After=multi-user.target

[Service]
Group=sirius
User=sirius
Type=simple
WorkingDirectory=/home/sirius/iocs
StandardOutput=syslog
StandardError=syslog
ExecStartPre=/bin/bash --login -c 'env > /tmp/.magic-environment-file'
EnvironmentFile=-/tmp/.magic-environment-file
ExecStart=/usr/local/bin/sirius-ioc-as-ti-ll-simul.py
